.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. heading .' '. week1-title .' '. week1-work .' '. week2-title .' '. week2-work .';
}

.heading {
  grid-area: heading;
}

%week-title {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;

  i {
    justify-self: end;
  }
}

.week1-title {
  @extend %week-title;
  grid-area: week1-title;
}

%week-work {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
  padding: 0 10px 10px;
  overflow: auto;
}

.week1-work {
  @extend %week-work;
  grid-area: week1-work;
  grid-template-areas: 'ex1' 'week-work' 'ex2' 'week-work2' 'ex3' 'week-work3';
}

button.week1 {
  grid-area: button;
  justify-self: start;
  align-self: center;
}

p.week1ex1 {
  cursor: pointer;
  display: grid;
  grid-area: ex1;
  grid-template-columns: 5fr 1fr;

  i {
    justify-self: end;
  }
}

div#week1 {
  grid-area: week-work;
}

.week1ex2 {
  cursor: pointer;
  display: grid;
  grid-area: ex2;
  grid-template-columns: 5fr 1fr;

  i {
    justify-self: end;
  }
}

#week1ex2-work {
  grid-area: week-work2;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.week1ex3 {
  cursor: pointer;
  display: grid;
  grid-area: ex3;
  grid-template-columns: 5fr 1fr;

  i {
    justify-self: end;
  }
}

#week1ex3-work {
  display: grid;
  grid-area: week-work3;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

#week1ex3-work img:nth-child(3) {
  max-width: 500px;
}

.week2-title {
  @extend %week-title;
  grid-area: week2-title;
}

.week2-work {
  @extend %week-work;
  grid-area: week2-work;
}
