$heading: 'Cinzel', serif;
$body: 'Raleway', sans-serif;
$code: 'Source Code Pro', monospace;
$dark-gray: #333333;
$medium-gray: #444444;
$light-gray: #555555;
$dark-blue: #000044;
$background: #ddd;
